<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>
  <td>Metodo:</td>
  <dd>{{getHeroDescription()}}</dd>
  <td>Capitalizado:</td>
  <dd>{{Capitalizado}}</dd>

  <button
  *ngIf="name !== 'Spiderman'"
  class="btn btn-primary" (click)="changeHero()">
    Cambiar nombre</button>
  <button
  *ngIf="age > 40"
  class="btn btn-warning" (click)="changeAge()" >
    Edad nombre</button>

    <button
    class="btn btn-success btn-sm" (click)="reset()" >
     Reset</button>

</dl>
